#!/system/bin/sh

BB=/system/xbin/busybox;

cat << CTAG
{
    name:Network,
    elements:[
	{ SPane:{
		title:"TCP Congestion Control",
		description:"Select your preferred WIFI TCP algorithm. Regulates upload and download affecting throughput in various ways."
	}},
	{ SSpacer:{
		height:1
	}},
	{ SOptionList:{
		description:"Default is bic.\n",
		default:$(cat proc/sys/net/ipv4/tcp_congestion_control),
		action:"generic proc/sys/net/ipv4/tcp_congestion_control",
		values:[`while read values; do printf "%s, \n" $values; done < proc/sys/net/ipv4/tcp_available_congestion_control`]
	}},
	{ SSpacer:{
		height:1
	}},
	{ SPane:{
		title:"TCP/IP Network Security Tweak",
		description:"Protect against SYN & DoS attack etc."
	}},
	{ SSpacer:{
		height:1
	}},
	{ SOptionList:{
		description:"Default is Disabled.\n",
		default:$(echo "$(/res/synapse/actions/network tcp_security)"),
		action:"network tcp_security",
		values:[Disabled, Enabled,]
	}},
	{ SSpacer:{
		height:1
	}},
	{ SPane:{
		title:"DNS Tweaks",
		description:"Allows you to set the default DNS (Domain Name System) for WiFi & mobile data 3/4G connections. Use this to potentially speed up your browsing experience (depending on DNS location) and improve your security."
	}},
	{ SSpacer:{
		height:1
	}},
	{ SDescription:{
		description:"1- Set Disable or your preferred DNS nameserver:"
	}},
	{ SDescription:{
		description:"   a)  If using WiFi = Press 'Clean WIFI Lease' button."
	}},
	{ SDescription:{
		description:"   b)  If using mobile data = manually restart the connection."
	}},
	{ SDescription:{
		description:"2- Allow up to 30s for iptables to update before testing."
	}},
	{ SSpacer:{
		height:1
	}},
	{ SLiveLabel:{
		title:"Current DNS",
		refresh:3000,
		action:"live dns"
	}},
	{ SSpacer:{
		height:1
	}},
	{ SOptionList:{
		default:$(echo "$(/res/synapse/actions/network dns)"),
		action:"network dns",
		values:[Disabled, Google, OpenDNS, Comodo, Level3, Norton, Verisign,]
	}},
	{ SSpacer:{
		height:1
	}},
	{ SButton:{
		label:"Clean WIFI Lease",
		action:"devtools fix_wifi"
	}},
	{ SSpacer:{
		height:1
	}},
	{ SButton:{
		label:"Test DNS connectivity",
		action:"am start -a android.intent.action.VIEW -d https://dnsleaktest.com/ > /dev/null;
		echo Opening browser...;"
	}},
	{ SSpacer:{
		height:1
	}},
	{ SPane:{
		title:"GPS Region",
		description:"Select GPS-Time-Zone for faster GPS lock! Use your region!\nA backup is automatically generated as /system/etc/gps.conf.bak, so by selecting Original will revert to original gps.conf."
	}},
	{ SSpacer:{
		height:1
	}},
	{ SDescription:{
		description:"Note: No_Action will automatically be set so Synapse will load chosen gps.conf on next boot."
	}},
	{ SSpacer:{
		height:1
	}},
	{ SLiveLabel:{
                title:"Current region",
		refresh:3000,
		action:"live gps"
	}},
	{ SSpacer:{
		height:1
	}},
	{ SOptionList:{
		default:$(echo "$(/res/synapse/actions/network gps_zone)"),
		action:"network gps_zone",
		values:[No_Action, Original, Asia, Europe, Oceania, North_America, South_America, Africa,]
	}},
	{ SSpacer:{
		height:1
	}},
	{ SPane:{
		title:"IPv6-protocol",
		description:"Test IPv6 connectivity before Disabling to ensure it's actually supported. After Enabling, allow up to 30s for IPv6 addresses to be added before testing."
	}},
	{ SSpacer:{
		height:1
	}},
	{ SButton:{
		label:"Test IPv6 connectivity",
		action:"am start -a android.intent.action.VIEW -d http://test-ipv6.com/ > /dev/null;
		echo Opening browser...;"
	}},
	{ SSpacer:{
		height:1
	}},
	{ SOptionList:{
		title:"IPv6",
		description:"Enable or disable IPv6. Default is Enabled.\n",
		default:$(echo "$(/res/synapse/actions/network IPv6)"),
		action:"network IPv6",
		values:[Disabled, Enabled,]
	}},
	{ SSpacer:{
		height:1
	}},
	{ SOptionList:{
		title:"IPv6 optimistic_dad",
		description:"Perform Optimistic Duplicate Address Detection. Default is Disabled.\n",
		default:1,
		action:"generic /proc/sys/net/ipv6/conf/all/optimistic_dad",
		values:{
			0:"Disabled", 1:"Enabled"
		}
	}},
	{ SSpacer:{
		height:1
	}},
	{ SOptionList:{
		title:"IPv6 use_optimistic",
		description:"Default is Disabled.\n",
		default:1,
		action:"generic /proc/sys/net/ipv6/conf/all/use_optimistic",
		values:{
			0:"Disabled", 1:"Enabled"
		}
	}},
	{ SSpacer:{
		height:1
	}},
    ]
}
CTAG

